.input {
    background-color: var(--level-0);
    color: var(--text);
    padding: 0.5em 0.5em;
    border: none;
    border-radius: 0.5em;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: var(--level-0);
    border: none;
    border-radius: 0.5em;
    color: var(--text);
    padding: 0.5em 0.5em;
}

.button:hover {
    background-color: var(--level-1);
}

.button:active {
    transform: translate(1px, 1px);
}

.heading {
    text-align: center;
    color: white;
}