.home {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
}

.search-bar {
    display: flex;
    padding: 0.75em 1em;
    width: 80%;
    font-size: large;
    box-shadow: 0 0 1em var(--level-1);
}

.search-results {
    display: grid;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1em;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 1em;
}

.search-results > div {
    display: flex;
    flex-direction: column;
    padding: 1em;
    background-color: var(--level-1);
    border-radius: 2em;
    height: 8em;
    color: white;
    cursor: pointer;
    transition: all ease 200ms;
    box-shadow: 0 0 0.5em var(--level-1), inset 0 0 4em #ffffff10;
}

.search-results > div:hover {
    background-color: var(--level-2);
    box-shadow: 0 0 1em var(--level-2);
}


@media screen and (max-width: 1200px) {
    .search-results {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 800px) {
    .search-results {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 400px) {
    .search-results {
        grid-template-columns: 1fr;
    }
}