body {
    margin: 0;
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.icon {
    width: 2em;
    height: 2em;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.leaflet-marker-pane :first-child {
    filter: hue-rotate(100deg);
}

.floating {
    position: absolute;
    right: 10px;
    top: 10px;
    height: 15vh;
    width: 10vh;
    background-color: #2EA15E;
    color: white;
    text-align: center;
    z-index: 10000;
}

.floating span img {
    max-width: 80%;
    color: white;
    filter: brightness(0) invert(1);
}

.upper {
    height: 70vh;
}

.lower {
    height: 30vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.item {
    width: 100%;
    padding: 8px;
    background-color: #fff;

    display: grid;
    grid-template-columns: 6ch 1fr auto;
    grid-template-rows: auto auto;
    gap: 8px;
    border-bottom: 1px solid #ccc;
}

.item:first-child {
    background-color: #2EA15E;
    color: white;
}

.item-name {
    grid-column: 2;
}

.item-address {
    grid-column: 2 / span 2;
    opacity: 0.6;
}

.item-time {
    font-weight: bold;
    text-align: right;
    grid-column: 1;
    grid-row: 1 / span 2;
}
